<form action='/albums' method='post'>
  <h1>Add Album</h1>
  <fieldset>
    <dl>
      <dt><label>Title</label>
      <dd><input type='text' name='title' /></dd>
      <dt><label>Artist</label>
      <dd><input type='text' name='artist' /></dd>
      <dt><label>Date</label>
      <dd><input type='date' name='date' />
      <dt><label>Cover</label>
      <dd><input type='url' name='cover' />
      <dt><label>Price</label>
      <dd><input type='text' name='price' />
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input type='submit' value='Create' />
  </fieldset>
</form>